#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.section {
  padding: 26px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-top: 12px;
}

.btn {
  padding: 8px 14px;
  border: 1px solid #333;
  border-radius: 8px;
  cursor: pointer;
  background: #151515;
}

.btn:hover {
  background: #171616;
}

.input {
  padding: 6px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

